.search-result {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  height: calc(100vh - 130px);
  margin-top: 130px;
  overflow: scroll;
}
@media (max-width: 580px) {
  .search-result {
    height: calc(100vh - 21vw);
    margin-top: 21vw;
  }
}
