<div #block_filters class="block_filters" *ngIf="isFiltersActive">
  <div class="title_filters">Sorting by:</div>

  <button (click)="sortByDate()">date</button>
  <div class="icons" [ngClass]="{desc : sortOptions.orderByDate === 'desc' , asc : sortOptions.orderByDate === 'asc'}"></div>

  <button (click)="sortByCountView()">count of view</button>
  <div class="icons" [ngClass]="{desc : sortOptions.orderByCountView === 'desc' , asc : sortOptions.orderByCountView === 'asc'}"></div>

  <label for="filters_by_word">by word or sentance</label>
  <input (input)="sortByWords($event)" type="text" id="filters_by_word" >
</div>
