.input-search {
  width: 400px;
  height: 26px;
  background-color: #EFEFEF;
  color: #929292;
  border: none;
  margin-left: 1vw;
  padding-left: 10px;
}
.btn-search {
  width: 80px;
  height: 26px;
  border: none;
  background-color: #2F80ED;
  color: #FFFFFF;
  border-radius: 0 3px 3px 0;
  margin-right: 0.7vw;
  cursor: pointer;
}
