.wrap-login {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #4F4F4F;
  font-size: 14px;

  position: relative;
  left: 15vw;
}
.btn-login {
  height: 28px;
  width: 28px;
  background: url('../../../assets/svg/Subtract.svg');
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}
