<div class="container-login-form">
  <h1 class="login-form_title">Login</h1>

  <form [formGroup]="loginForm"  (ngSubmit)="onSubmit()">
    <div class="login-form_name">
      <label>mail</label>
      <input formControlName="userMail"  type="text">

      <div class="alert"
        *ngIf="loginForm.controls['userMail'].errors?.['required'] && 
          loginForm.controls['userMail'].touched">
        Please enter a login email
      </div>

      <div class="alert"
        *ngIf="(loginForm.controls['userMail']).errors?.['email'] && 
          loginForm.controls['userMail'].touched">
        The login email is invalid
      </div>
    </div>
  
    <div class="login-form_password">
      <label>password</label>
      <input formControlName="userPassword" type="password">

      <div class="alert"
        *ngIf="loginForm.controls['userPassword'].errors?.['required'] && 
          loginForm.controls['userPassword'].touched">
        Please enter a password 
      </div>

      <div class="alert"
        *ngIf="loginForm.controls['userPassword'].errors?.['userPassword'] && 
          loginForm.controls['userPassword'].touched && 
          !loginForm.controls['userPassword'].errors?.['required']">
        Your password isn't strong enough 
      </div>

    </div>
  
    <button type="submit" class="btn-login" [disabled]="loginForm.invalid">Login</button>
  </form>
</div>
