.registration-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  width: 350px;
  margin: 0 auto;
  margin-top: calc(130px + 10vh);
  padding: 20px;
  background-color: #F2F2F2;
  border-radius: 5px;
}
.registration_title {
  font-size: 24px;
  align-self: flex-start;
}
.registration_firstName,
.registration_lastName,
.registration_name,
.registration_password {
  display: flex;
  flex-direction: column;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 15px;
  width: 100%;
}
form label {
  font-size: 16px;
  color: #828282;
}
form input {
  width: 310px;
  height: 37px;
  margin-top: 5px;
  padding: 10px;
  background-color: #E0E0E0;
  border: none;
  border-radius: 5px;
}
.btn-entry {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  height: 30px;
  margin-top: 20px;
}
.btn-registration {
  height: 30px;
  width: 50%;
  background-color: #2F80ED;
  color: #FFFFFF;
  text-align: center;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.btn-login {
  height: 30px;
  width: 50%;
  color: #2F80ED;
  text-align: center;
  text-decoration: underline;
  border: none;
  cursor: pointer;
}
.btn-registration:disabled {
  background-color: rgb(177, 177, 177);
}
.help-info {
  font-size: 12px;
  color: #828282;
}
.alert {
  font-size: 12px;
  color: red;
}
input.ng-touched.ng-invalid {
  border-bottom: 5px solid red;
}
input.ng-touched.ng-valid {
  border-bottom: 5px solid green;
}

@media (max-width: 420px) {
  .registration-form {
    gap: 15px;
    width: 300px;
    margin: 0 auto;
    margin-top: calc(130px + 10vh);
    padding: 15px;
  }
  .registration_title {
    font-size: 20px;
  }
  form label {
    font-size: 14px;
  }
  form input {
    width: 270px;
    height: 37px;
  }
  .help-info {
    font-size: 10px;
  }
  .alert {
    font-size: 10px;
  }
}
