.btn-settings {
  height: 34px;
  width: 34px;
  
  background: url('../../../../assets/svg/search_settings.svg');
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}
