<div class="header">
  <div class="logo">
    <a routerLink="/search"><img src="../../../../assets/svg/logo.svg" alt="logo"></a>
  </div>

  <div class="container-input_search">
    <form>
      <input class="input-search" type="text" placeholder="What do you want to find out?">
      <button class="btn-search" (click)="onSearch()">search</button>
    </form>
  </div>

  <button class="btn-settings" (click)="onFilters()"></button>

  <div class="container-profile">
    <a class="profile-link"><span>Your Name</span></a>
    <button class="profile-img"></button>
  </div>

</div>
