<div class="header">
  <div class="logo">
    <img src="../../../../assets/svg/logo.svg" alt="logo">
  </div>

  <div class="container-input_search">
    <form>
      <input class="input-search" type="text" placeholder="What do you want to find out?">
      <button class="btn-search">search</button>
      <!-- <button class="btn-search" (click)="search.emit()">search</button> -->
    </form>
  </div>

  <button class="btn-settings"></button>
  <!-- <button class="btn-settings" (click)="showBlockFilters.emit()"></button> -->

  <div class="container-profile">
    <a class="profile-link"><span>Your Name</span></a>
    <button class="profile-img"></button>
  </div>

</div>
