<div class="container-details" *ngIf="currentCard">
  <div class="link_back"><a routerLink="/search">&#5176;</a></div>

  <div class="details-card" [appDateHighlight]="currentCard.snippet.publishedAt">
    <div class="details-card_img">
      <img src="{{ currentCard.snippet.thumbnails.medium.url }}" alt="details-card">
    </div>

    <div class="details-card_info">
      <div class="info-title">
        <div class="title">{{ currentCard.snippet.title }}</div>
        <div class="date"> {{ currentCard.snippet.publishedAt | date: 'EEEE, MMMM d, y' }} </div>
      </div>

      <div class="info-description">
        <span>Description:</span>
        <p class="description-text">{{ currentCard.snippet.description }}</p>
      </div>

      <div class="details-card_statistics">
        <div class="card-statistic_viewed">
          <img src="../../../../assets/svg/viewed.svg" alt="viewed">
          <span> {{ currentCard.statistics.viewCount }}</span>
        </div>
        <div class="card-statistic_like">
          <img src="../../../../assets/svg/liked.svg" alt="like">
          <span>{{ currentCard.statistics.likeCount }}</span>
        </div>
        <div class="card-statistic_comment">
          <img src="../../../../assets/svg/comments.svg" alt="comment">
          <span>{{ currentCard.statistics.commentCount }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
