.container-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  height: calc(100vh - 130px);
  margin-top: 130px;
  padding-top: 10vh;
  overflow-x: hidden;
  overflow-y: scroll;
}
// .link_back {
//   width: 32px;
//   height: 32px;
//   border-radius: 5px 0 0 5px;
//   background-color: #E5E5E5;

//   a {
//     font-size: 24px;
//     font-weight: bolder;
//     text-decoration: none;
//     margin-left: 8px;
//     color: #ffffff;
//   }
// }
.details-card {
  display: flex;
  flex-direction: row;
  width: 80vw;
  height: 33.33vw;
  background-color: #E5E5E5;
  border-radius: 10px;
}
.details-card_img img{
  width: 45vw;
  height: 33.33vw;
  object-fit: cover;
  object-position: 0%;
}
.details-card_info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  height: 33.33vw;
  padding: 2.4vw;
}
.info-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.title {
  color: #000000;
  font-size: 24px;
}
.date {
  color: #828282;
  font-size: 12px;
}
.info-description {
  height: 70%;
  overflow-y: scroll;
}
.description-text {
  color: #828282;
  font-size: 12px;
  margin-top: 5px;
}
.details-card_statistics {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
  // line-height: 2;
}
.card-statistic_viewed,
.card-statistic_like,
.card-statistic_comment {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 12px;
}
// .details-card_statistics span {
//   margin-left: 4px;
//   font-size: 12px;
// }


.border_red {
  border-bottom: 5px solid #EB5757;
  box-shadow: 5px 5px 15px rgba(235, 87, 87, 0.5);
}
.border_green {
  border-bottom: 5px solid #27AE60;
  box-shadow: 5px 5px 15px rgba(39, 174, 96, 0.5);
}
.border_blue {
  border-bottom: 5px solid #2F80ED;
  box-shadow: 5px 5px 15px rgba(47, 128, 237, 0.5);
}
